{% include "header_nav.html" %}
<main>
    <div class="row">
        <div class="col offset-s3">
            <span>Uživatelské jméno:</span>
        </div>
        <div class="col s3">
            <span>{{user.username}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col offset-s3">
            <span>Telefon:</span>
        </div>
        <div class="col s3">
            <span>{{user.phone}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col offset-s3">
            <span>Email:</span>
        </div>
        <div class="col s3">
            <span>{{user.email}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col offset-s3">
            <a href="change_password">Změnit heslo</a>
        </div>
       </div>
</main>
{% include "footer.html" %}
