{% include "header_nav.html" %}
<main>
    <div class="row">
        <div class="col offset-s3">
            <p>Uživatelské jméno:</p>
        </div>
        <div class="col s3">
            <p>{{user.username}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col offset-s3">
            <p>Telefon:</p>
        </div>
        <div class="col s3">
            <p>{{user.phone}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col offset-s3">
            <p>Email:</p>
        </div>
        <div class="col s3">
            <p>{{user.email}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col offset-s3">
            <a href="change_password">Změnit heslo</a>
        </div>
       </div>
</main>
{% include "footer.html" %}
