{% include "header_nav.html" %}
<main>
    <h5 class="pad10">Profil</h5>
    <div class="row">
        <hr>

        <div class="col s4 offset-s4 center" >
            <span>Uživatelské jméno:</span>
            <span>{{user.username}}</span>
            <hr>
            <span>Telefon:</span>
            <span>{{user.phone}}</span>
            <hr>
            <span>E-mail:</span>
            <span>{{user.email}}</span>
        </div>

    </div>
    <hr>
    <div class="row">
        <div class="col s12 center-align">
            <a href="change_password" class="btn grey darken-2">Změnit heslo</a>
        </div>
    </div>
</main>
{% include "footer.html" %}
