<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Autobazar</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'temp/images/favicon.ico' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}" media="screen,projection"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>
<body>
<div class="navbar-fixed">
    <nav class="top-nav">

        <ul id="slide-out1" class="sidenav sidenav-fixed grey darken-3">
            <h5 class="center-align grey-text">Prodávaná vozidla</h5>
            <hr>
            <ul class="collapsible">
                {% for cars_mark, values in car_list.items %}
                <li>
                    <div class="collapsible-header">{{cars_mark}}</div>
                    {% for carmodel in values %}
                    <div class="collapsible-body grey darken-3 grey-text"><a
                            href="/viewmodels?model={{carmodel}}&mark={{cars_mark}}" style="margin-left: 20px">{{carmodel}}</a>
                    </div>
                    {% endfor %}
                </li>
                {% endfor %}
            </ul>
        </ul>
        <div class="nav-wrapper black">
            <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>

            <ul class="left hide-on-med-and-down">
                <!--<li><img class="rotateimg" src="static/temp/images/wheel.png" width="60"/></li>-->
                <li><a href="/" id="logo" style="padding-left: 75px">Autobazar</a></li>
                <li><a href="/sell">Chci prodat auto</a></li>
                <li><a href="/search"><i class="material-icons left">search</i>Filtrovat vozidla</a></li>
            </ul>
            <ul class="right hide-on-med-and-down">
                {% if not user %}
                <li><a href="/login">Login</a></li>
                <li><a href="/reg">Register</a></li>
                {% else %}
                {% if user.is_admin %}
                    <li><a href="/settings" class="right-align">Správa uživatelů</a></li>
                {% endif %}
                <li><a href="/acc"><i class="material-icons left">settings_applications</i>{{ user.username }}</a></li>
                <li><a href="/logout" class=" right-align">Logout</a></li>
                {% endif %}

            </ul>
        </div>

    </nav>
</div>
<ul id="slide-out" class="sidenav grey darken-3 grey-text">

    <li><a href="/sell">Chci prodat auto</a></li>
    <li><a href="/search"><i class="material-icons left">search</i>Filtrovat vozidla</a></li>

    {% if not user %}
    <li><a href="/login">Login</a></li>
    <li><a href="/reg">Register</a></li>
    {% else %}
    {% if user.is_admin %}
        <li><a href="/settings">Správa uživatelů</a></li>
    {% endif %}
    <li><a href="/acc"><i class="material-icons left">settings_applications</i>{{ user.username }}</a></li>
    <li><a href="/logout">Logout</a></li>
    {% endif %}

    <a href="/"><h5 class="center-align grey-text">Prodávaná vozidla</h5></a>
    <hr>
    <ul class="collapsible">
        {% for cars_mark, values in car_list.items %}
        <li>
            <div class="collapsible-header">{{cars_mark}}</div>
            {% for carmodel in values %}
            <div class="collapsible-body grey darken-3 grey-text"><a
                    href="/viewmodels?model={{carmodel}}&mark={{cars_mark}}" class="grey-text" style="margin-left: 10px">{{carmodel}}</a>
            </div>
            {% endfor %}
        </li>
        {% endfor %}
    </ul>
</ul>
<div>
    <!--<a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    -->
</div>



