{% include "header_nav.html" %}
{% load poll_extras %}
<main>
    <div class="row">
        <div class="col m12 s12">
            {% for car in cars %}
            <div class="col s12 m6">
                <div class="card large">
                    <a href="/view?car_id={{car.id}}">
                        <div class="card-image">
                            <img src="/static/{{car.images_paths|list_first}}">
                        </div>
                        <div class="card-content center-align" style="color: #000000;">
                            <span class="card-title" style="color:black">{{car.mark.upper}} {{car.model.upper}}</span>
                            <p>Cena: {{car.price}} Kč</p>
                            <p>Rok výroby: {{car.manufacture_date}}</p>
                            <p>Najeto kilometrů: {{car.killometres}} km</p>
                            <p>Objem motoru: {{car.engine_capacity}} L</p>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</main>
{% include "footer.html" %}
