{% include "header_nav.html" %}
<main>
    <div class="row center">
        <form method="post">
            {% csrf_token %}
            <div class="row col offset-s4">
                <div class="input-field col s4">
                    <input id="username" type="text" class="validate" name="username">
                    <label class="active" for="username">Username</label>
                </div>

                <div class="input-field col s4">
                    <input id="passwd" type="password" class="validate" name="passwd">
                    <label class="active" for="passwd">Password</label>
                </div>
                <br>

                <div class="col s3">
                    <button class="btn waves-effect waves-light indigo accent-3" type="submit" name="action">Submit
                        <i class="material-icons right">send</i>
                    </button>
                </div>

            </div>
        </form>
        <div class="row col s5 offset-s3">
            <p style="color: red">{{ msg }}</p>

        </div>
    </div>
</main>

{% include "footer.html" %}
