{% include "header_nav.html" %}
<main>
    <div class="row center">
        <form method="post">
            {% csrf_token %}
            <div class="col s12 m8 offset-m4 center-align">
                <div class="row">
                    <div class="input-field col m5 s8 offset-s2 center">
                        <input id="username" type="text" class="validate" name="username">
                        <label class="active" for="username">Uživatelské jméno</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col m5 s8 offset-s2">
                        <input id="passwd" type="password" class="validate" name="passwd">
                        <label class="active" for="passwd">Heslo</label>
                    </div>
                </div>
                <br>
            </div>
            <div class="col m3 offset-m4 center-align s8 offset-s2">
                <button class="btn waves-effect waves-light grey darken-2" type="submit" name="action">Přihlásit se
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </form>
        {% if msg %}
        <div class="row col s5 offset-s3">
            <p style="color: red">{{ msg }}</p>
            <a href="send_password">Chci poslat heslo na email.</a>

        </div>
        {% endif %}
    </div>
</main>

{% include "footer.html" %}
