{% include "header_nav.html" %}
<main>
    <div class="row center">
        <form method="post">
            {% csrf_token %}
            <div class="row col offset-s4">
                <div class="input-field col s4">
                    <input id="username" type="text" class="validate" name="username">
                    <label class="active" for="username">Uživatelské jméno</label>
                </div>

                <div class="input-field col s4">
                    <input id="passwd" type="password" class="validate" name="passwd">
                    <label class="active" for="passwd">Heslo</label>
                </div>
                <br>
                <button class="btn waves-effect waves-light indigo accent-3" type="submit" name="action">Odeslat
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </form>
        {% if msg %}
        <div class="row col s5 offset-s3">
            <p style="color: red">{{ msg }}</p>
            <a href="send_password">Chci poslat heslo na email.</a>

        </div>
        {% endif %}
    </div>
</main>

{% include "footer.html" %}
