{% include "header_nav.html" %}
<main>
    <h5 class="pad10">Profil</h5>
    <div class="row">
        <hr>
        <div class="row col s4 offset-s4 center">
            <span>Uživatelské jméno:</span>
            <span>{{profile.username}}</span>
            <hr>
            <span>Telefon:</span>

            <span>{{profile.phone}}</span>
            <hr>
            <span>E-mail:</span>

            <span>{{profile.email}}</span>

        </div>
    </div>
    <hr>
    <div class="row pad10">
        <div class="row">

            <div class="col s12">

                <p>Komentáře:</p>
                {% if comment_list %}

                <div class="collection col s9 ">
                    {% for comment in comment_list %}

                    <a href="#" class="collection-item black-text">
                        {% if user == comment.author or user.is_admin %}<span class="badge"><button type="button"
                                                                                                    class="white-text grey darken-2"
                                                                                                    onclick="remove('{{comment.id}}')">
                        Odstranit
                    </button></span>
                        {% endif %}
                        {{comment.author.username}}: {{comment.text}}</a>

                    {% endfor %}
                </div>
                {% else %}
                <p class="col s3 offset-s1" style="color: red">Zatím žádné!</p>
                {% endif %}
            </div>
        </div>
        <div class="row">
            {% if profile != user %}
            {% if user %}



            {% csrf_token %}
            <div class="col s6">
                <br>


                <div class="input-field">
                    <textarea id="comment" class="materialize-textarea" name="comment"></textarea>
                    <label for="comment">Komentář</label>
                </div>
                <button class="btn waves-effect waves-light grey darken-2" type="button" onclick="create_comment()">
                    Odeslat
                    <i class="material-icons right">send</i>
                </button>
            </div>
            {% else %}
            <div class="col offset-s1">
                <br>
                <h5>
                    <a href="login">
                        Pokud chceš přidávat komentáře, musíš se příhlásit.
                    </a>
                </h5>
            </div>
            {% endif %}
            {% endif %}
        </div>
    </div>
</main>
{% include "footer.html" %}

<script type="application/javascript">
    function create_comment() {
        comment = $('#comment').val();
        $.ajax({
            url: window.location.origin + '/add_comment?user_id={{profile.id}}&comment=' + comment,
            type: "GET",
            success: function (res) {
                M.toast({html: res, classes: 'rounded'});
                setTimeout(function () {
                    location.reload();
                }, 2000);

            }
        });
    }

    function remove(comment_id) {
        $.ajax({
            url: window.location.origin + '/remove_comment?comment_id=' + comment_id,
            type: "GET",
            success: function () {
                location.reload();
            }
        });
    }
</script>