{% include "header_nav.html" %}
<main>
<div class="row">
    <div class="col s12 center">
        <h5>Filtrování vozidel</h5>

        <span id="price0" class="left"></span><span>Cena</span><span id="price1" class="right"></span>
        <div id="slider-range" class="grey darken-2"></div>
        <span>Rok výroby</span><span id="rprice0" class="left"></span><span id="rprice1" class="right"></span>
        <div id="slider-range1" class="grey darken-2"></div>
        <span>Najeto</span><span id="nprice0" class="left"></span><span id="nprice1" class="right"></span>
        <div id="slider-range2" class="grey darken-2"></div>
        <br>
        <button type="button" class="btn grey darken-2" onclick="use();">
            Použit filter
        </button>
    </div>
</div>

</main>
{% include "footer.html" %}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $("#price0").text(0);
    $("#price1").text(parseInt("{{maxprice}}",10));

    $("#rprice0").text();
    $("#rprice1").text();

    $("#nprice0").text(0);
    $("#nprice1").text(parseInt("{{maxkm}}",10));

    $( "#slider-range" ).slider({
      range: true,
      min: 0,
      max: parseInt("{{maxprice}}",10),
      values: [ 0, parseInt("{{maxprice}}",10) ],
      slide: function( event, ui ) {
          $("#price0").text(ui.values[0]);
          $("#price1").text(ui.values[1]);
      }});
    $( "#slider-range1" ).slider({
      range: true,
      min: 0,
      max: 500,
      values: [ 75, 300 ],
      slide: function( event, ui ) {
          $("#rprice0").text(ui.values[0]);
          $("#rprice1").text(ui.values[1]);
      }});
    $( "#slider-range2" ).slider({
      range: true,
      min: 0,
      max: parseInt("{{maxkm}}",10),
      values: [ 0, parseInt("{{maxkm}}",10) ],
      slide: function( event, ui ) {
           $("#nprice0").text(ui.values[0]);
          $("#nprice1").text(ui.values[1]);
      }});

function use() {
    console.log("neco");
}
  </script>