{% include "header_nav.html" %}
<main>
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="row col offset-s3">
                {% for item, name in car_param %}
                <div class="input-field col">
                    <input id="{{ item }}" type="text" class="validate" name="{{ item }}">
                    <label class="active" for="{{ item }}">{{ name }}</label>
                </div>
                {% endfor %}

                <div class="input-field col s11">
                    <textarea id="popis" class="materialize-textarea" name="popis"></textarea>
                    <label for="popis">popis</label>
                </div>
                <div class="input-field col s11">
                    <textarea id="servis" class="materialize-textarea" name="servis"></textarea>
                    <label for="servis">servis</label>
                </div>

                <div class="input-field col s11">
                    <textarea id="zavady" class="materialize-textarea" name="zavady"></textarea>
                    <label for="zavady">zavady</label>
                </div>

                <div class="file-field input-field col s11">
                    <div class="btn indigo accent-3">
                        <span>Obrazky</span>
                        <input type="file" multiple>
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                </div>
                <div class="col s3">
                    <button class="btn waves-effect waves-light indigo accent-3" type="submit" name="action">Submit
                        <i class="material-icons right">send</i>
                    </button>
                </div>

            </div>
        </div>
    </form>
</main>
{% include "footer.html" %}