{% include "header_nav.html" %}
<main>
    {% if user %}
    <h5 class="pad10">Prodat auto</h5>
    <hr>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="row col">
                <div class="input-field col s6 m3">
                    <select class="zn" required>
                        <option value="" disabled selected>Zvol značku auta</option>
                        {% for mark in marks %}
                        <option value="{{ mark }}">{{ mark }}</option>
                        {% endfor %}
                    </select>
                    <label>Značka</label>
                </div>
                {% for item, name in car_param %}
                {% if item == 'turbo' %}
                <div class="input-field  col">
                    <input type="hidden" id="turbo" name="turbo" required>
                    <select class="turb" required>
                        <option value="Ne">Ne</option>
                        <option value="Ano">Ano</option>

                    </select>
                    <label>Turbo</label>
                </div>
                {% else %}
                <div class="input-field col">
                    <input id="{{ item }}" type="text" class="validate" name="{{ item }}" required>
                    <label class="active" id="{{ item }}l" for="{{ item }}">{{ name }}</label>
                </div>
                {% endif %}
                {% endfor %}

                <div class="input-field col s11">
                    <textarea id="popis" class="materialize-textarea" name="popis" required></textarea>
                    <label for="popis">Popis</label>
                </div>
                <div class="input-field col s11">
                    <textarea id="poskozeni" class="materialize-textarea" name="poskozeni" required></textarea>
                    <label for="poskozeni">Poškození</label>
                </div>

                <div class="input-field col s11">
                    <textarea id="opravy" class="materialize-textarea" name="opravy" required></textarea>
                    <label for="opravy">Opravy</label>
                </div>

                <div class="file-field input-field col s11">
                    <div class="btn grey darken-2">
                        <span>Přidat obrázky</span>
                        <input type="file" id="img" multiple name="files" required>
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                </div>
                <div class="col s12" id="images">
                </div>
                <div class="col s3">
                    <button class="btn waves-effect waves-light grey darken-2" type="submit" name="action">Odeslat
                        <i class="material-icons right">send</i>
                    </button>
                </div>

            </div>
        </div>
    </form>
    {% else %}
    <div class="row">
        <div class="col offset-s3">
            <br>
            <h5>
                <a href="login" style="color: red">
                    Pokud chceš prodat auto, musíš se příhlásit.
                </a>
            </h5>
        </div>
    </div>
    {% endif %}
</main>
{% include "footer.html" %}
<script type="application/javascript">
    $('#znacka').hide();
    $('#znackal').hide();
    $('.zn').formSelect().on('change', function () {
        let selected_value = $('.zn').val();
        if (selected_value == "JINÉ") {
            $('#znacka').show();
            $('#znackal').show();
            $('#znacka').val('');
        }
        else {
            $('#znacka').val(selected_value);
            $('#znacka').hide();
            $('#znackal').hide();
        }

        console.log();
    });

    $('.turb').formSelect().on('change', function () {
        let selected_value = $('.turb').val();
        $('#turbo').val(selected_value);
    });

    function readURL(input) {
        reader = new FileReader();

        reader.onload = function (e) {
            //create img in div(id="images") with src of uploaded image
            $('#images')
                    .append($('<img />').attr('src', e.target.result).attr('width', '300'));
        };
        reader.readAsDataURL(input);
    }

    $("#img").change(function () {
        finalFiles = {};
        $('#images').empty();
        i = 0;
        $.each(this.files, function (index, file) {
            finalFiles[index] = file.name;
            readURL(file);
        });

    });
</script>