{% include "header_nav.html" %}
{% load poll_extras %}
<br>
<main>
    {% if car.owner == user or user.is_admin %}
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large waves-effect waves-light red" href="/edit_car?car_id={{car.id}}">Edit</a>

        <a class="btn-floating btn-large waves-effect waves-light red" href="/delete_car?car_id={{car.id}}"><i
                class="material-icons">delete</i></a>
    </div>
    {% endif %}
    <div class="row">
        <div class="col s12">
            <div class="slider col s12">
                <ul class="slides">
                    {% for image in car.get_images %}
                    <li>
                        <img src="/static/{{image}}">
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <div class="col s6">
                    <h5>{{car.mark.upper}} {{car.model.upper}} {{car.motorization}}</h5>
                </div>
                <br>

                <div class="col s6">
                    <span class="right">Prodávajicí: <a href="/profile?user_id={{car.owner.id}}"
                                                        style="color: black; text-decoration: underline">{{car.owner.username}}</a></span>
                </div>
            </div>
        </div>
        <hr>
        <div class="row" style="padding-left: 15px; padding-right: 10px">

            <div class="col s4">
                <p>Značka: {{car.mark.upper}}</p>

                <p>Model: {{car.model.upper}}</p>

                <p>Objem motoru: {{car.engine_capacity}} L</p>
            </div>
            <div class="col s4" style="text-align: center">
                <p>Turbo: {{car.turbo}}</p>

                <p>Typ Paliva: {{car.fuel_type}}</p>

                <p>Výkon: {{car.performance_kw}} kw ({{car.performance_hp}} HP)</p>
            </div>
            <div class="col s4" style="text-align: right">
                <p>Rok výroby: {{car.manufacture_date}}</p>

                <p>Najeto: {{car.killometres}} km</p>

                <p>Cena: {{car.price}} Kč</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col s12" style="padding-left: 27px">
                <div class="col s7">
                    <p>Popis: {{car.description}}</p>

                    <p>Závady: {{car.defects}}</p>

                    <p>Opravy: {{car.repair}}</p>
                </div>
                <br>
                <br>

                <div class="col s12 m5">
                    <button type="button" class="btn grey darken-2 pulse" onclick="buy_car();">Chci koupit tohle auto
                    </button>

                </div>
            </div>
        </div>
    </div>


</main>

{% include "footer.html" %}

<script type="application/javascript">
    function buy_car() {
        $.ajax({
            url: window.location.origin + '/buy_car?car_id=' + "{{ car.id }}" + "&url=" + window.location.href,
            type: "GET",
            success: function (result) {
                M.toast({html: result, classes: 'rounded'});
            }
        });
    }
</script>