{% include "header_nav.html" %}
{% load poll_extras %}
<main>
    <div class="row">
        <div class="col s9 offset-s3">
            <div class="carousel carousel-slider">
                {% for image in car.get_images %}
                    <a class="carousel-item"><img src="/static/{{image}}"></a>
                {% endfor %}
            </div>
            <h5>{{car.mark}} {{car.model}}</h5>

            <p>Značka: {{car.mark}}</p>
            <p>Model: {{car.model}}</p>
            <p>Motorizace: {{car.motorization}}</p>
            <p>Typ Paliva: {{car.fuel_type}}</p>
            <p>Výkon: {{car.performance_kw}} kw ({{car.performance_hp}} HP)</p>
            <p>Datum výroby: {{car.manufacture_date}}</p>
            <p>Najeto: {{car.killometres}} km</p>
            <p>Cena: {{car.price}}</p>
            <br>
            <p>Popis: {{car.description}}</p>
            <p>Závady: {{car.defects}}</p>
            <p>Opravy: {{car.repair}}</p>

        </div>
    </div>
</main>
{% include "footer.html" %}
