{% include "header_nav.html" %}
{% load poll_extras %}
<br>
<main>
    {% if car.owner == user%}
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large waves-effect waves-light red" href="/edit_car?car_id={{car.id}}">Edit</a>

        <a class="btn-floating btn-large waves-effect waves-light red" href="/delete_car?car_id={{car.id}}"><i class="material-icons">delete</i></a>
    </div>
    {% endif %}
    <div class="row">
        <div class="col s9 offset-s3">
            <div class="slider col s9">
                <ul class="slides">
                    {% for image in car.get_images %}
                    <li>
                        <img src="/static/{{image}}">
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col s9 offset-s3">
                <h5>{{car.mark.upper}} {{car.model.upper}} {{car.motorization}}</h5>
                <p>Značka: {{car.mark}}</p>
                <p>Model: {{car.model}}</p>
                <p>Motorizace: {{car.motorization}}</p>
                <p>Typ Paliva: {{car.fuel_type}}</p>
                <p>Výkon: {{car.performance_kw}} kw ({{car.performance_hp}} HP)</p>
                <p>Datum výroby: {{car.manufacture_date}}</p>
                <p>Najeto: {{car.killometres}} km</p>
                <p>Cena: {{car.price}}</p>
                <br>
                <p>Popis: {{car.description}}</p>
                <p>Závady: {{car.defects}}</p>
                <p>Opravy: {{car.repair}}</p>
            </div>
        </div>

        <div class="col s3 offset-s3">
            <button type="button" class="btn green" onclick="buy_car();">Chci koupit tohle super auto</button>
        </div>
    </div>
</main>

{% include "footer.html" %}

<script type="application/javascript">
    function buy_car() {
        $.ajax({
            url:window.location.origin+'/buy_car?car_id='+"{{ car.id }}"+"&url="+window.location.href,
            type:"GET",
            success: function(result){
                M.toast({html: result, classes: 'rounded'});
            }
        });
    }
</script>