body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

#logo {
    padding-right: 50px;
    font-size: 200%;
}



.pad10 {

    padding-left: 30px;
}

.nav {
    color: white;
}

nav ul li:hover {
   background-color: #C0BFBF;

}

.sidenav li>a{
    color: grey;
}
.sidenav li:hover{
    background-color: white;
}
.sidenav a:hover{
    background-color: #E5E5E5;
}
