body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
flex: 1 0 auto;
}

#logo{
    padding-right: 50px;
    font-size: 200%;
}
nav{
    padding-left: 300px;

}

.pad10{

    padding-left:30px;
}

.nav{
    color: white;

}